/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


@font-face {
  font-family: poppins;
  src: url("assets/fonts/Poppins-Medium.ttf");
}

body {
  font-family: poppins !important;
}
